body,
html {
    height: 100%;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    font-family: 'Press Start 2P', cursive;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

form {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

input {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

.bg {
    /* The image */
    background-image: url("img.jpg");
    /* Image centering */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}